:root {
  font-size: var(--root-font-size);
}
* {
  font-family: var(--primary-font--regular);
  color: var(--black-color);
}

button {
  border-radius: var(--border-radius--l);
  border-width: var(--border-size--m);
  color: var(--gray-color--400);
  border-color: var(--gray-color--300);
  border-style: solid;
  padding: var(--button-space--s);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
button:hover {
  color: var(--gray-color--400);
  border-color: var(--black-color);
}
button:disabled {
  opacity: var(--opacity--l);
  cursor: not-allowed;
}

.button__primary {
  color: var(--white-color);
  background: var(--primary-color);
  border: none;
}

.button__primary:hover {
  background: #2342c0;
  color: var(--white-color);
}
